@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
@import "~react-bulma-components/src/index.sass";

.rdrCalendarWrapper {
  border-width: 1px;
}

.Toastify__toast--warning {
  background: #1d1c16;
}

section {
  background: #fafafa;
}
